In [ ]:
try:
  print(4+6)
except:
  print("try block demo")

10

In [ ]:
try:
  print(4/0)
except:
  print("try block demo")

try block demo

In [ ]:
try:
  print(2+input())
except:
  print("data")

22
data

In [ ]:
try:
  print(4/0)
except:
  print("except block is executed")
else:
  print("else block is executed")
finally:
  print("finally is always printed")

except block is executed
finally is always printed

In [ ]:
### always either try or except
### if try is there else will come
## if except is there else is not part of the output

In [ ]:
 try:
  a,b = 10,2
  result = a / b
except:
  print("cannot divide by zero")
else:
  print("Division Result:", result)
finally:
  print("Operation Complete\n")

Division Result: 5.0
Operation Complete

In [ ]:
try:
  value = int('232')
except ValueError:
  print("Invalid integer")
else:
  print("converted:", value + 10)
finally:
  print("Conversion Attempt Finished\n")

converted: 242
Conversion Attempt Finished

In [ ]:
try:
  base, exp = 2, 5
  result = base ** exp
except Exception as e:
  print("Error:", e)
else:
  print("Power:", result)
finally:
  print("Operation Complete\n")

Power: 32
Operation Complete

In [ ]:
try:
  a = 6
  b = 0
  result = a/b
except ZeroDivisionError as e:
  a = 12
  b = 3
  print(a/b)

4.0

In [ ]:
try:
  num = int("xyz")
except ValueError as e:
  print(e)

invalid literal for int() with base 10: 'xyz'

In [ ]:
try:
  result = '5' + 20
except TypeError as e:
  print("Error", e)

Error can only concatenate str (not "int") to str

In [ ]:
try:
  result = [2,4,6,8,5]
  print(result[20])
except IndexError as e:
  print("Error", e)

Error list index out of range

In [ ]:
try:
  result = [2,4,6,8,5]
  print(result[20:30])
except IndexError as e:
  print("Error", e)

[]

In [ ]:
try:
  result = [2,4,6,8,5]
  print(result[20:30])
  print(2/0)
except IndexError as e:
  print("Error", e)
except:
  print('output')

[]
output

In [ ]:
try:
  result = [2,4,6,8,5]
  print(result[20:30])
  print(2/0)
except IndexError as e:
  print("Error", e)
except:
  print('output')

[]
output

In [ ]:
try:
  d = {'a':1}
  print(d['b'])
except KeyError as e:
  print('Error', e)

Error 'b'

In [ ]:
try:
  f = open("sample.txt")
  print(f.read())
except FileNotFoundError as e:
  print("Error", e)

python
jupyter

In [ ]:
try:
  x = 20
  x.append(5)
except AttributeError as e:
  print("Error", e)

Error 'int' object has no attribute 'append'

In [ ]:
try:
  import nomodule
except ModuleNotFoundError as e:
  print("Error", e)

Error No module named 'nomodule'

In [ ]:
a = 10
b = 15
a + b

25

In [ ]:
try:
  output = [1] * 1000000000
except MemoryError as e:
  print("Error", e)

In [ ]:
import math
print(math.exp(1000))

OverflowError: math range error

In [ ]:
def f1():
  return f1()
try:
  f1()
except RecursionError as e:
  print("Error",e)  ## Recursive error

Error maximum recursion depth exceeded

In [ ]:
### Name Errors, Indentation Errors, Syntax Errors

In [ ]:
def function1():
  x = 30
  try:
    print(x)
    x = 20
  except:
    print(e)
function1()  ## UnboundLocalError and Name Error cause name has to be decalre first

30

In [ ]:
### permission Error:
if the file is in read mode and your trying to write the data to the file then you get the permission error
give

In [ ]:
##### EOF file error

In [ ]:
try:
  value = input()
  print("you entered", value)
except EOFError as e:
  print("EOFError", e)

you entered

In [ ]:
try:
  b"\xff".decode("utf-8")
except UnicodeError as e:
  print("UnicodeError", e)

UnicodeError 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

In [ ]:
try:
  "u".encode("ascii")
except UnicodeEncodeError as e:
  print("UnicodeEncodeError", e)

In [ ]:
u.encode